<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/">
  </head>
  <body class="landing">
    <%= render '/gtm.*' %>
    <%= render '/landing-header.*' %>
    <div class="landing-header flex-container flex-column justify-center align-center">
      <h1 class="flex-container">👋 Hello, how can we help?</h1>
      <div itemscope itemtype="http://schema.org/WebSite">
        <meta itemprop="url" content="https://docs.gitlab.com"/>
        <form id="search-form" action="/search/" method="get" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
          <meta itemprop="target" content="https://docs.gitlab.com/search/?q={q}"/>
          <div class="input-container">
            <img src="/assets/images/icon_search.svg" alt="search-icon">
            <input itemprop="query-input" type="text" name="q" class="docsearch" placeholder="Find anything in our docs" autofocus required/>
          </div>
          <input type="submit" style="visibility: hidden; position:absolute;"/>
        </form>
      </div>
    </div>
    <%= yield %>
    <%= render '/footer.*' %>
    <%= render '/docsearch.*' %>
    <% if ENV['NANOC_ENV'] == 'production' and ENV['CI_COMMIT_REF_NAME'] == 'master' %>
    <%# Add analytics only in production %>
      <%= render '/analytics.*' %>
    <% end %>
    <%= render '/https_redirect.*' %>
    <%= render '/schema-microdata.*' %>
  </body>
</html>
